@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
/* HEADER*/

.nav-bar {
  background-color: #fef7e2;
  width: 100%;
  min-height: 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-element {
  border-radius: 30px;
  background-color: #ffdf7f;
  padding: 0.8em;
  font-size: 0.9em;
}
.nav-element:nth-of-type(3) {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
  border-radius: 60px;
  padding-block: 1.5em;
}

.nav-element h2 {
  font-weight: 800;
  color: #742305;
}
.nav-element img {
  width: 30px;
}

/*MAIN*/

main {
  min-height: calc(100vh - 150px);
  padding: 0 20px;
}
main h1 {
  font-size: 3em;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 800;
  color: #742305;
}
.card {
  background-color: #fef7e2;

  width: 49%;
  padding-bottom: 1em;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.card button {
  color: #742305;
  background-color: #ffdf7f;
  border: 0px;
  padding: 1em 4em;
  border-radius: 30px;
}

.text {
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
.text h2 {
  font-weight: 600;
  font-size: 1.2em;
  color: #742305;
  margin-top: 20px;
}
.text h3 {
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #742305;
}
.text p {
  color: #742305;
}

.section-cards {
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

#news-section h2 {
  font-size: 2em;

  margin-bottom: 20px;
  font-weight: 800;
  color: #742305;
}

#news {
  background-color: #fef7e2;
  padding: 1.5em;
}
#news h3 {
  font-size: 1.3em;
  margin-bottom: 10px;

  font-weight: 800;
  color: #742305;
}
#news p {
  color: #742305;
  font-size: 0.7em;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 20px;
}
#news img {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  #transform {
    display: flex;
  }
  .nav-bar {
    background-color: #fef7e2;
    width: 250px;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
  }
  .nav-element {
    border-radius: 60px;
    background-color: #ffdf7f;
    padding-inline: 2em;
    padding-block: 2.5em;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .nav-element:nth-of-type(3) {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
    border-radius: 60px;
    padding-inline: 1.3em;
    order: -1;
    margin-top: 20px;
  }
  .nav-element img {
    width: 50px;
  }
  .card {
    width: 24%;
  }
}
